.quote {
    color: #999;
    
    .quote-text {
        margin: 10px 0;
    }

    .quote-author {
        position: relative;
        display: inline-block;
        padding-left: 25px;

        &:before {
            content: "";
            position: absolute;
            bottom: 50%;
            transform: translateY(-50%);
            left: 0;
            background: $color-gray-darken-3;
            width: 15px;
            height: 2px;
        }

        &.text-color-white {
            &:before {
                background: white;
            }
        }
    }
}

article {
    background: white;
    border-radius: 5px;
}

.articles__list {
    margin-right: 15px;
    @include breakpoint(sm) { margin: 0; }
    
    .articles__item {
        background: white;
        border-radius: 5px;
        flex: 1;
        transition: all 400ms ease;
        min-width: 250px;
        max-width: 285px;
        max-height: 380px;
        overflow: hidden;
        margin: 0 0.5rem 1rem;
        box-shadow: 0 0 20px transparentize($color: #333, $amount: 0.8);

        @include breakpoint(sm) { margin: 10px; margin-bottom: 20px; }
        @include breakpoint(xs) { margin: 0; margin-bottom: 20px; max-width: 100%; max-height: 100%; }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 25px transparentize($color: #333, $amount: 0.8);
        }

        .articles__item-top {
            position: relative;
            height: 220px;
            overflow: hidden;

            .articles__item-image {
                display: block;
                height: 100%;

                img {
                    @include absolute-center;
                    transition: all 1000ms ease;
                }

                &:hover {
                    img { transform: translateX(-50%) translateY(-50%) scale(1.1); }
                }
            }

            .articles__item-label, .articles__item-share {
                position: absolute;
                right: 8px;
                background: white;
                opacity: 0.9;
                transition: all 200ms ease;
                color: #333;
                font-size: 0.9em;
                
                &:hover { opacity: 1; }
            }

            .articles__item-label {
                top: 8px;
                padding: 8px 10px;
                border-radius: 5px;
            }
            
            .articles__item-share {
                bottom: 8px;
                @include size(35px);
                border-radius: 100%;
            }
        }

        .articles__item-mid {
            padding: 15px;

            a { 
                font-size: 1em; 
                @extend .text-weight-500; 
                color: #666;
            }
        }
        .articles__item-bottom {
            border-top: 1px solid #eee;
            padding: 10px 15px;
            font-size: 0.8em;
            color: #888;
        }
    }
}

hr, .hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #eee !important;
    margin: 25px 0;
}

.card {
    background: white;
    border-radius: 5px;
    padding: 25px;
    transition: all 400ms ease;
    box-shadow: 0 0 20px transparentize($color: #333, $amount: 0.8);

    @include breakpoint(sm) { margin: 10px; margin-bottom: 20px; padding: 15px; }
    @include breakpoint(xs) { margin: 0; margin-bottom: 20px; max-width: 100%; max-height: 100%; }

    &.card-hover {
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 25px transparentize($color: #333, $amount: 0.8);
        }
    }
}