// ============================
// WARNA
// ============================

// Main
$color-primary: #3f69d2;
$color-secondary: #28ac7b;
$color-black: #000;
$color-black-lighten: #333;
$color-white: #FFF;
$color-danger: #DF3B46;
$color-warning: #f1c40f;
$color-gray: #ccc;
$color-gray-eee: #eee;
$color-purple: #8D44AD;

// Darken
$color-primary-darken-1: darken($color-primary, 5%);
$color-primary-darken-2: darken($color-primary, 10%);
$color-primary-darken-3: darken($color-primary, 15%);
$color-secondary-darken-1: darken($color-secondary, 5%);
$color-secondary-darken-2: darken($color-secondary, 10%);
$color-secondary-darken-3: darken($color-secondary, 15%);
$color-danger-darken-1: darken($color-danger, 5%);
$color-danger-darken-2: darken($color-danger, 10%);
$color-danger-darken-3: darken($color-danger, 15%);
$color-warning-darken-1: darken($color-warning, 5%);
$color-warning-darken-2: darken($color-warning, 10%);
$color-warning-darken-3: darken($color-warning, 15%);
$color-gray-darken-1: darken($color-gray, 5%);
$color-gray-darken-2: darken($color-gray, 10%);
$color-gray-darken-3: darken($color-gray, 15%);
$color-purple-darken-1: darken($color-purple, 5%);
$color-purple-darken-2: darken($color-purple, 10%);
$color-purple-darken-3: darken($color-purple, 15%);

// Lighten
$color-primary-lighten-1: lighten($color-primary, 5%);
$color-primary-lighten-2: lighten($color-primary, 10%);
$color-primary-lighten-3: lighten($color-primary, 15%);
$color-secondary-lighten-1: lighten($color-secondary, 5%);
$color-secondary-lighten-2: lighten($color-secondary, 10%);
$color-secondary-lighten-3: lighten($color-secondary, 15%);
$color-danger-lighten-1: lighten($color-danger, 5%);
$color-danger-lighten-2: lighten($color-danger, 10%);
$color-danger-lighten-3: lighten($color-danger, 15%);
$color-warning-lighten-1: lighten($color-warning, 5%);
$color-warning-lighten-2: lighten($color-warning, 10%);
$color-warning-lighten-3: lighten($color-warning, 15%);
$color-gray-lighten-1: lighten($color-gray, 5%);
$color-gray-lighten-2: lighten($color-gray, 10%);
$color-gray-lighten-3: lighten($color-gray, 15%);
$color-purple-lighten-1: lighten($color-purple, 5%);
$color-purple-lighten-2: lighten($color-purple, 10%);
$color-purple-lighten-3: lighten($color-purple, 15%);

$color-gradient: linear-gradient(125deg, $color-secondary, $color-primary);
$color-gradient-transparent-8: linear-gradient(125deg, transparentize($color-secondary, 0.8), transparentize($color-primary, 0.8));
$color-gradient-transparent-3: linear-gradient(125deg, transparentize($color-secondary, 0.3), transparentize($color-primary, 0.3));
$color-gradient-transparent-5: linear-gradient(125deg, transparentize($color-secondary, 0.5), transparentize($color-primary, 0.5));
$color-gradient-darken-1: linear-gradient(125deg, $color-secondary-darken-1, $color-primary-darken-1);
$color-gradient-darken-2: linear-gradient(125deg, $color-secondary-darken-2, $color-primary-darken-2);
$color-gradient-darken-3: linear-gradient(125deg, $color-secondary-darken-3, $color-primary-darken-3);
$color-gradient-lighten-1: linear-gradient(125deg, $color-secondary-lighten-1, $color-primary-lighten-1);
$color-gradient-lighten-2: linear-gradient(125deg, $color-secondary-lighten-2, $color-primary-lighten-2);
$color-gradient-lighten-3: linear-gradient(125deg, $color-secondary-lighten-3, $color-primary-lighten-3);

// ============================
// TYPOGRAPHY
// ============================

$font-1: montserrat;
$font-2: poppins;

$wara-container: 70px;
// $wara-container-lg: ;
$wara-container-md: 30px;
$wara-container-sm: 20px;