section {
    position: relative;

    &#category, &#about {
        height: auto;
        overflow: hidden;
        box-shadow: inset 0 15px 30px transparentize(#333, 0.7);
        
        .category__background,
        .about__background {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 70%;
            height: 100%;
            background: $color-gradient;
            transform: skew(-20deg) translateX(-25%);

            @include breakpoint(md) { 
                width: 100%;
                transform: skew(0) translateX(0); 
            }
        }
        
        .category__left, .about__left { 
            width: 50%; 
            @include breakpoint(md) { 
                width: 100%;
            }
        }
        .category__right, .about__right { 
            width: 50%; 
            @include breakpoint(md) { 
                width: 100%;
            }
        }
    }

    &#category {
        padding: 80px 0;

        .category__right {
            .category__button-wrapper {
                @include breakpoint(md) { margin-top: 20px; }

                .category__button {
                    background: white;
                    border-radius: 10px;
                    box-shadow: 0 0 40px transparentize(#000, 0.7);
                    margin: 15px;
                    padding: 30px 60px;
                    cursor: pointer;
                    transition: all 200ms ease;

                    @include breakpoint(md) { 
                        padding: 15px; 
                        margin: 10px;
                        border-radius: 5px;
                    }

                    img { 
                        width: 120px; 

                        @include breakpoint(md) { width: 80px; }
                    }
                    
                    .category__button-title { 
                        font-family: $font-1; 
                        margin-top: 10px;
                        color: #333;
                        @extend .text-weight-700;
                    }

                    &:hover {
                        background: #eee;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }

    &#about {
        padding: 60px 0;

        .about__background { 
            transform: rotateZ(180deg) rotateY(180deg) skew(-20deg) translateX(-25%); 

            @include breakpoint(md) { display: none; }
        }

        .about__right {
            .about__right-text {
                .about__right-text-title {
                    font-size: 1.7em;
                }
                p {
                    width: 80%;
                }
            }
        }
        .about__left {
            @include breakpoint(md) { margin-top: 10px; }

            .about__profiles {
                .about__profile-wrapper {
                    margin-bottom: 20px;

                    .about__profile-left {
                        margin-right: 20px;

                        @include breakpoint(md) { margin-right: 0; margin-bottom: 10px; }

                        img { width: 150px; border-radius: 100%; }
                    }
                    .about__profile-right {
                        color: white;

                        @include breakpoint(md) { color: #333; }

                        span { font-size: 1.2em; }
                        p { font-size: 1em; width: 300px; }
                    }
                    
                    $profile-wrapper-translate: 80px;
                    &:nth-child(2) { 
                        transform: translateX($profile-wrapper-translate); 
                        
                        @include breakpoint(md) { transform: translateX(0); }
                    }

                    &:nth-child(3) { 
                        transform: translateX($profile-wrapper-translate * 2)
                        ; 
                        @include breakpoint(md) { transform: translateX(0); }
                    }
                }
            }
        }
    }
}